@import-normalize; /* bring in normalize.css styles */

body,
html {
  margin: 0;
  color: var(--main-color);
  background-color: var(--background);
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;
}
p {
  font-family: "Fira Sans", sans-serif;
}
ul,
link {
  list-style: none;
}

ul {
  padding-inline-start: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Oswald", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  &::selection {
    background-color: var(--accent-color);
  }
}
:root {
  --background: #f3f5fa;
  --accent-background: #eaedf1;
  --accent-color: #97d28b;
  --main-color: #173d33;
  --menu-color: rgba(23, 61, 51, 0.75);
  --white: #ffffff;
  --backdrop-color: rgba(23, 61, 51, 0.25);
  --accent-button-color: #dcefd8;
  --placeholder-color: #bdbdbd;
  --black: #292d32;
  --error-color: #d28b8b;
}
